<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LaMarva1._0.Properties.Settings.MordorConnectionString"
            connectionString="Data Source=|DataDirectory|\Mordor.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>